.energy-chart3 {
   
    position:absolute;
    top: 86%;
    right: 100%;
    transform: translate(50%, -50%);
    width: 5rem;
    height: 3rem;
    background-color: #fff;
    background-size: 100%;
    background-repeat: round;
    user-select: none;

    .close {
        position: absolute;
        right: .01rem;
        width: .3rem;
        height: .3rem;
        z-index: 5;
        @include bg-img("~@/assets/images/header/missionPlanning/close.png");
        cursor: pointer;
    }

    .chart {
        @include size(100%, 100%);
    }
}