<div class="energyInfo-box1" :style="show ? 'right: 4%' : 'right: -20rem'"> <!-- ts文件中show变量更新控制样式 -->
    <div class = "head">
        <div class="close" @click="close"></div>
         <p>能耗数据</p> 
     </div>
    
    <div class = "flg" >
        <p style="width :150px;">分流缸蒸汽流量累计</p>
        <p>9028.2</p>
        <p>t</p>
       
    </div>
    <div class = "zg">
        <p style="width :150px;">展馆热水热量累计</p>
        <p>2091956</p>
        <p>KWh</p>
    </div>
    <div class = "flg2">
        <p style="width :150px;">分流缸蒸汽流量累计</p>
        <p>9028</p>
        <p>t</p>
    </div>
    <div class = "sz">
        <p style="width :150px;">市政水表总流量累计</p>
        <p>84594</p>
        <p>t</p>
    </div>
</div>