<a-modal
    class="magic-modal"
    :title="title"
    wrapClassName="u-create-info-modal"
    v-model="show"
    :confirm-loading="confirmLoading"
    @ok="onSave"
    @cancel="show=false"
>
    <a-form-model
        ref="form"
        class="magic-form-model"
        layout="horizontal"
        labelAlign="left"
        :model="data"
        :rules="rules"
        v-bind="formItemLayout"
    >
        <a-form-model-item :label="name" prop="name">
            <a-input v-model="data.name" :placeholder="'请输入'+name"></a-input>
        </a-form-model-item>
        <a-form-model-item label="所属分组">
            <a-tree-select
                v-model="data.categoryId"
                :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                :tree-data="treeData"
                :replaceFields="replaceFields"
                placeholder="请选择所属分组"
                tree-default-expand-all
                allow-clear
            >
            </a-tree-select>
        </a-form-model-item>
    </a-form-model>
</a-modal>
