<div class="v-error v-error-403">
    <div class="v-error-content">
        <a-card>
            <p class="v-error-content-title">
                4
                <span class="v-error-403-icon-1">
                    <a-icon type="lock"></a-icon>
                </span>
                3
            </p>
            <p class="v-error-content-message">哎呀...访问被拒绝了</p>
            <p class="v-error-button-strip">
                <a-button @click="onBackHomeClick" size="large" type="text">返回首页</a-button>
                <a-button @click="onBackPrevClick" size="large" type="primary">返回上一页</a-button>
            </p>
        </a-card>
    </div>
</div>