<div class="v-error v-error-404">
    <div class="v-error-content">
        <a-card>
            <p class="v-error-content-title">
                4
                <span class="v-error-404-icon">
                    <a-icon type="compass"></a-icon>
                </span>
                4
            </p>
            <p class="v-error-content-message">哎呀...您访问的页面不存在</p>
            <p class="v-error-button-strip">
                <a-button @click="onBackHomeClick" size="large" type="text">返回首页</a-button>
                <a-button @click="onBackPrevClick" size="large" type="primary">返回上一页</a-button>
            </p>
        </a-card>
    </div>
</div>
